.nav-wrapper .logo{
	margin-left:20px;
	font-size:25px;
}

.nav-wrapper ul{
	margin-left:45px;
}

.nav-wrapper ul li{
	opacity:0.7;
}

section .row .help{
	padding-top:8rem;
	padding-bottom:8rem;
}

section .row .help input[type="button"]{
	width:14rem;
	height:4rem;
	margin-top:1rem;
}

input{
	border:none;
}

.white-btn-black-text{
	background:#fff;
	color:#000;
	border-radius:5px;
	-webkit-border-radius:5px;
}