.nav-wrapper .logo{
	margin-left:20px;
	font-size:25px;
}

.nav-wrapper ul{
	margin-left:45px;
}

.nav-wrapper ul li{
	opacity:0.7;
}

#container{
	position: relative;
	overflow: hidden;
}

	#container .content .row #content-text{
		position: absolute;
		top: 0;
		left: 0;
		width:100%;
		text-shadow: 2px 2px 20px #000000;
	}

section .row .help{
	padding-top:8rem;
	padding-bottom:8rem;
}

section .row .help input[type="button"]{
	width:14rem;
	height:4rem;
	margin-top:1rem;
	-webkit-box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.2);
}

input{
	border:none;
}

.white-btn-black-text{
	background:#fff;
	color:#000;
	border-radius:5px;
	-webkit-border-radius:5px;
}

.section-intro{
	margin-top:3rem;
}

.campaign-card .card-content p.author-name, .campaign-card .card-content .needs{
	color:#616161;
}

.campaign-card .card-content p.description{
	color:#9e9e9e;
	margin-bottom:1.5rem;
}

.campaign-card .card-content .needs ul{
	list-style: circle !important;
	margin-top:-5px;
	margin-left:20px;
	margin-bottom:1.5rem;
}

.campaign-card .card-content .rest{
	font-size:13px;
}

.campaign-card .card-content .rest b.right{
	color: #1e88e5;
}

.campaign-card .card-content progress{
    border: 0;
    height: 7px;
    width:100%;
}

.campaign-card .card-content progress::-webkit-progress-bar {
    background:#e0e0e0;
    border-radius: 9px;
    -webkit-border-radius: 9px;
}

.campaign-card .card-content progress::-webkit-progress-value {
    background:#1e88e5;
    border-radius: 9px;
    -webkit-border-radius: 9px;
}